<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>

    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core"/>

    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>

    <section name="MySQL" type="MySql.Data.MySqlClient.MySqlConfiguration, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>

  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1210">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="fileInfoLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/info/"/>
      <preserveLogFileNameExtension value="true"/>
      <encoding value="utf-8"/>
      <staticLogFileName value="false"/>
      <datePattern value="'info'.yyyyMMdd.'log'"/>
      <rollingStyle value="Composite"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10MB"/>
      <!-- seems maxSizeRollBackups cannot work when set preserveLogFileNameExtension to true -->
      <!-- see https://issues.apache.org/jira/browse/LOG4NET-413 for more details -->
      <maxSizeRollBackups value="10"/>
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p][%date{yyyy-MM-dd HH:mm:ss.fff}] - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="INFO"/>
        <acceptOnMatch value="true"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CommonLog"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    <appender name="fileWarnLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/warn/"/>
      <preserveLogFileNameExtension value="true"/>
      <encoding value="utf-8"/>
      <staticLogFileName value="false"/>
      <datePattern value="'warn'.yyyyMMdd.'log'"/>
      <rollingStyle value="Composite"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10MB"/>
      <maxSizeRollBackups value="10"/>
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p][%date{yyyy-MM-dd HH:mm:ss.fff}] - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
        <levelMax value="WARN"/>
        <acceptOnMatch value="true"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CommonLog"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    <appender name="fileErrorLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/error/"/>
      <preserveLogFileNameExtension value="true"/>
      <encoding value="utf-8"/>
      <staticLogFileName value="false"/>
      <datePattern value="'error'.yyyyMMdd.'log'"/>
      <rollingStyle value="Composite"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10MB"/>
      <maxSizeRollBackups value="10"/>
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p][%date{yyyy-MM-dd HH:mm:ss.fff}] - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
        <acceptOnMatch value="true"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CommonLog"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="fileErrorLogAppender"/>
      <appender-ref ref="fileWarnLogAppender"/>
      <appender-ref ref="fileInfoLogAppender"/>
    </root>
  </log4net>

  <enyim.com>
    <memcached>
      <servers>
        <add address="192.168.0.111" port="11211"/>
      </servers>
    </memcached>
  </enyim.com>

  <cacheManager>
    <managers>
      <cache name="cache">
        <handle name="enyim.com/memcached" ref="memcache"/>
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="memcache" type="CacheManager.Memcached.MemcachedCacheHandle`1, CacheManager.Memcached" defaultExpirationMode="Sliding" defaultTimeout="3m"/>
    </cacheHandles>
  </cacheManager>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="SharpNode" providerName="MySQL Data Provider" connectionString="server=ServerInfoStorage;"/>
    <add name="MainCache" providerName="MySQL Data Provider" connectionString="server=GameInfoStorage;"/>
    <add name="MainDB" providerName="MySQL Data Provider" connectionString="Server=127.0.0.1;Port=3306;MinimumPoolSize=8;MaximumPoolSize=32;Default Command Timeout=30;Database=p2p_game_main;Uid=root;Pwd=1234;"/>
    <add name="MerchantDB" providerName="MySQL Data Provider" connectionString="Server=127.0.0.1;Port=3306;Database=p2p_common_m;Uid=root;Pwd=1234;"/>
    <add name="SampleMerchantDB" providerName="MySQL Data Provider" connectionString="Server=127.0.0.1;Port=3306;Database=p2p_sample_m;Uid=root;Pwd=1234;"/>
  </connectionStrings>

  <MySQL>
    <Replication>
      <ServerGroups>
        <Group name="ServerInfoStorage" retryTime="5">
          <Servers>
            <Server name="master1" IsMaster="true" connectionstring="server=127.0.0.1;port=3306;uid=root;pwd=1234;database=p2p_sharp_node;"/>
          </Servers>
        </Group>
        <Group name="GameInfoStorage" retryTime="5">
          <Servers>
            <Server name="master1" IsMaster="true" connectionstring="server=127.0.0.1;port=3306;uid=root;pwd=1234;database=p2p_game_cache;"/>
          </Servers>
        </Group>
      </ServerGroups>
    </Replication>
  </MySQL>

  <appSettings>

	<add key="OutgoingHttpConnectionLimit" value="1000"/>
  <add key="DefaultRemoteCallTimeout" value="20000"/>
	<add key="ExtraStartServiceSeconds" value="2"/>
	<add key="ExtraStopServiceSeconds" value="2"/>

	<add key="MuteVarName" value="SimpleBigTwoServer"/>
	<add key="ServiceName" value="SimpleBigTwoServer"/>
	<add key="ServiceDescription" value="SimpleBigTwoServer"/>

  <add key="GameTableSetting" value="{
       'GameType': 2,
       'TableType': 1,
       'BettingTime': 30,
       'TestMerchant': 'm1',
       'Tables':
       [
       {
         'TableCode': 'B1',
         'TableName': 'Big-Two Table #1'
       }
       ]
  }"/>

	<add key="AppServerSetting" value="{
         
			'ServerInfoStorage': 'SharpNode',

			'ServerNodeSettings':
			[
      {
				'NodeName': 'SM1',
				'GroupName': 'SM',

				'InternalServerSetting': null,
				'PublicServerSetting': {
					'WorkIp': '',
					'WorkPort': 15150,
					'WorkProtocol': 'simple-http',
					'AccessUrl': 'http://192.168.0.79:15150',
					'AllowOrigin': '*',
					'AllowParentPath': true
				},

				'Services': 'MySharpServer.FrameworkService.dll,MiniTable.SampleMerchant.Service.dll'

			},
      {
				'NodeName': 'SW1',
				'GroupName': 'SW',

				'InternalServerSetting': {
					'WorkIp': '127.0.0.1',
					'WorkPort': 15121,
					'WorkProtocol': 'simple-http'
				},
				'PublicServerSetting': {
					'WorkIp': '127.0.0.1',
					'WorkPort': 15122,
					'WorkProtocol': 'simple-http',
					'AllowOrigin': '*'
				},

				'Services': 'MySharpServer.FrameworkService.dll,
                      MiniTable.SingleWallet.Service.dll,
                      MiniTable.MerchantApi.Default.dll'

			},
      {
				'NodeName': 'DAL1',
				'GroupName': 'DAL',

				'InternalServerSetting': {
					'WorkIp': '127.0.0.1',
					'WorkPort': 15221,
					'WorkProtocol': 'simple-http'
				},
				'PublicServerSetting': null,

				'Services': 'MySharpServer.FrameworkService.dll,
                      MiniTable.DataAccess.Service.dll,
                      MiniTable.BackgroundUpdater.Service.dll,
                      MiniTable.MerchantApi.Default.dll'

			},
      {
				'NodeName': 'FES1',
				'GroupName': 'FES',

				'InternalServerSetting': {
					'WorkIp': '127.0.0.1',
					'WorkPort': 15321,
					'WorkProtocol': 'simple-http'
				},
				'PublicServerSetting': {
					'WorkIp': '127.0.0.1',
					'WorkPort': 15322,
					'WorkProtocol': 'ws',
          'AllowOrigin': '*'
				},

				'Services': 'MySharpServer.FrameworkService.dll,
                      MiniTable.MerchantApi.Default.dll,
                      MiniTable.FrontEnd.ClientApi.dll,
                      MiniTable.FrontEnd.GameClient.dll,
                      MiniTable.FrontEnd.GameTable.dll,
                      MiniTable.FrontEnd.GameBet.dll'

			},
      {
				'NodeName': 'GS1',
				'GroupName': 'GS',

				'InternalServerSetting': {
					'WorkIp': '127.0.0.1',
					'WorkPort': 15281,
					'WorkProtocol': 'simple-http'
				},
				'PublicServerSetting': null,

				'Services': 'MySharpServer.FrameworkService.dll,
                      MiniTable.TableGame.Service.dll'

			},
      {
				'NodeName': 'BES1',
				'GroupName': 'BES',

				'InternalServerSetting': {
					'WorkIp': '127.0.0.1',
					'WorkPort': 15541,
					'WorkProtocol': 'simple-http'
				},
				'PublicServerSetting': {
					'WorkIp': '',
					'WorkPort': 15540,
					'WorkProtocol': 'simple-http',
					'AccessUrl': 'http://192.168.0.79:15540',
					'AllowOrigin': '*',
					'AllowParentPath': true
				},

				'Services': 'MySharpServer.FrameworkService.dll,
                      MiniTable.BackEnd.Api.dll'

			},
      {
				'NodeName': 'LS1',
				'GroupName': 'LS',

				'InternalServerSetting': {
					'WorkIp': '127.0.0.1',
					'WorkPort': 15551,
					'WorkProtocol': 'simple-http'
				},
				'PublicServerSetting': {
					'WorkIp': '',
					'WorkPort': 15550,
					'WorkProtocol': 'simple-http',
					'AccessUrl': 'http://192.168.0.79:15550',
					'AllowOrigin': '*',
					'AllowParentPath': true
				},

				'Services': 'MySharpServer.FrameworkService.dll,
                      MiniTable.MerchantApi.Default.dll,
                      MiniTable.Login.Service.dll'

			},
			]
                                
	}" />

  </appSettings>
  
</configuration>
